[2022-09-06 12:33] larsgw opened #459 "Systema Dipterorum - Chironomidae species incorrectly placed in Tachinidae"
**Describe the problem**:
A number (unsure of how many) Chironomidae species are incorrectly placed in Tachinidae. I don't see the same issue in Systema Dipterorum data.

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/8H4NQ
https://www.catalogueoflife.org/data/taxon/437W4

**Literature references**:
http://www.diptera.org/Nomenclator/Details/256813
http://www.diptera

[2022-09-14 09:12] mdoering opened #460 "Caraboidea is not under Coleoptera"
classified directly under Insects instead in AC22

[2022-09-14 09:12] mdoering commented on #460
https://www.checklistbank.org/dataset/9837/taxon/4WK

[2022-09-14 10:08] mdoering opened #461 "Subfamily Niponiinae exists twice in AC22"
<img width="1094" alt="image" src="https://user-images.githubusercontent.com/327505/190126205-e6f60090-84c5-4e9e-9244-4fb7d5472568.png">

[2022-09-14 10:10] mdoering opened #462 "tribe Sphaeridiini exists twice"
<img width="1086" alt="image" src="https://user-images.githubusercontent.com/327505/190126774-2eca0ac3-098c-4e03-9883-1dc05fb02835.png">

[2022-09-14 10:56] mdoering opened #463 "Redundant, accepted higher taxa"
There are several "homonyms" existing in the Animal kingdom which should be resolved:

 - `Anthracini`  not unique for a single taxon group. Appears in both Diptera and Coleoptera
 - `Callicerini`  not unique for a single taxon group. Appears in both Diptera and Coleoptera
 - `Ommatinae`  not unique for a single taxon group. Appears in both Diptera and Coleoptera
 - `Tachinidae`  not unique for a

[2022-09-14 10:57] mdoering commented on #463
In addition there are also 2 cases between protists and animals which might be valid but should be checked:

 - `Peranemataceae` not unique for a single taxon group. Appears in both Protists and Pteridophytes
 - `Sagittariidae`  not unique for a single taxon group. Appears in both Protists and Birds

[2022-09-14 14:04] DaveNicolson commented on #463
At least one of these (the only one I checked so far) has already been addressed in ITIS:

Sphecoid wasp family name Heterogynidae Nagy, 1969 is a junior homonym of lepidopteran family Heterogynidae Rambur, 1866. The stem and family name were emended (to Heterogyna- and Heterogynaidae) by the ICZN in Opinion 1445 (1987)

BUT since COL gets the Apoidea from ITIS, it should already be resolved in CO

[2022-09-14 14:12] DaveNicolson commented on #463
Leptosomatidae was already resolved in ITIS' birds, and so is already resolved in COL. This comment describes the issue & resolution in ITIS (Leptosomidae is the correct name for the bird family):
"The bird family spelling variant 'Leptosomatidae' (TSN 178131), correctly given as Leptosomidae (TSN 553456), was suppressed in Opinion 1068 (1977). The name was originally published by Blyth as subfami

[2022-09-14 14:17] DaveNicolson commented on #463
The mammal (bat) Macroglossinae junior homonym was replaced by Macroglossusinae Almeida, Simmmons and Giannini, 2020 in ITIS, and in COL, so this is also already resolved. Can you re-run your check to filter out the cases involving names that are in synonymy?

[2022-09-14 14:36] DaveNicolson commented on #463
Protist family Sagittariidae Grandori & Grandori, 1935 vs. bird family Sagittariidae [authorship TBD]... I'm not entirely sure who is the proper author of the bird name per ICZN, but it was already in use by 1930. But unless they are both treated under the "zoological" Code, it would not be an issue. The type genera are not identical (-us bird vs. -a protist).

[2022-09-14 15:23] mdoering commented on #463
Oh, sorry. Some of these seem to have slipped through as synonyms! That is fine of course

[2022-09-14 15:40] mdoering commented on #463
The results above were an outcome of some entirely different coding effort.
When I analyze just the higher, accepted Animal taxa I get a much larger number of redundant names. Here are the ones that are left if I remove all unique names. The list is huge, but there might be cases where the same name is used at different ranks. Not sure if we should see that above genus level. But the ones with 4 c

[2022-09-14 15:41] mdoering commented on #463
A lot of them are tribes...

[2022-09-15 16:22] aoern opened #464 "Redundant higher taxa in Decapoda"
There are 960 redundant Decapoda taxa (genera, families and superfamilies) in CoL.
These taxa (and the contained low taxa) are listed by WoRMS Brachyura.
But, they are also listed directly under Decapoda by sourceId 0 without any low level taxa.
Example:
Acanthilia Galil, 2000 (WoRMS Brachyura)
Acanthilia (sourceId 0)

[2022-09-16 02:33] mdoering commented on #464
Redundant taxa with sourceId 0 are likely an editorial bug/artefact that needs manual curation.
They are likely remains of some imperfectly deleted former sector...

The duplicates page for the COL22 release shows quite a few accepted duplicates of various kinds:
https://www.checklistbank.org/dataset/9837/duplicates/overview (warning! this is a slow page that takes time to load)

<img width="1357"

[2022-09-16 02:34] mdoering commented on #463
See also https://github.com/CatalogueOfLife/data/issues/463

[2022-09-16 08:53] rvosa opened #465 "Incorporate uBio names"

[2022-09-18 02:55] Australis86 commented on #251
Just in case you hadn't seen this already, WCSP and WCVP are to be integrated into POWO: https://powo.science.kew.org/upcoming-changes

[2022-09-19 19:37] yroskov commented on #464
- [x] Decapoda: 33 superfamilies without GSD provider deleted with all children; 3 genera in a root also deleted.

[2022-09-21 12:17] aoern commented on #464
Similar redundant high taxa in 'source 0' appear in Hemiptera:

Hemiptera/Myerslopiidae and contained genera Hallex, Mapuchea, Myerslopia, Ovojassus and Pemmation overlap with
Hemiptera/Membracoidea/Myerslopiidae from 3i Auchenorrhyncha.

Following genera listed directly under Hemiptera overlap with Hemiptera/Aphidomorpha genera from SF Aphid:
Anconatus, Aphidinius , Aphidioides, Canaphis, Dataiap

[2022-09-21 15:21] yroskov commented on #464
- [x] Hemiptera: family Myerslopiidae & 10 not assigned genera deleted from the root of order Hemiptera

![image](https://user-images.githubusercontent.com/28574252/191543570-8cfa84d3-55a4-4ae9-9266-962b184a0d97.png)
![image](https://user-images.githubusercontent.com/28574252/191543706-1c7d2f8a-227c-4e76-ab35-77b2d9b345b7.png)
![image](https://user-images.githubusercontent.com/28574252/191543840-8

[2022-09-21 20:21] mdoering commented on #465
It seems noone has a copy of uBio anymore. @dimus and Dave Remsen are trying hard to find any remains, but so far no luck...

[2022-09-22 13:31] dimus commented on #465
@mdoering If you want name bank, classification bank, I believe I do have uBio database (what I do not have is files). Let me know if you want it. Also https://verifier.globalnames.org/data_sources/169

[2022-09-22 15:32] mdoering commented on #465
@dimus name & classification bank data is exactly what we were looking for! Please let me know how/where I can access it

[2022-09-22 16:15] dimus commented on #465
@mdoering, I sent you email with URL to uBio db dump

[2022-09-24 02:36] bbolker opened #466 "tiny date typos"
In using COL data to make [this fun graph](https://biology.stackexchange.com/a/110414/25523) I discovered a few typos in dates by finding dates of definition that are outside of a reasonable range ...

[code]

Searching the TreeText file for these numeric values, and then searching for the species names, quickly reveals that these are obvious typos (e.g. 1006 is represented by

[code]

Looking up

[2022-09-27 10:51] mdoering opened #467 "WoRMS Bryozoa missing names"
When looking into the [not interpreted and nameID invalid issues](https://www.checklistbank.org/dataset/1081/issues), I found that there are name relations defined that point to names which are not included in the export.

For example [Lichenalia circincta Hall, 1883](https://www.marinespecies.org/aphia.php?p=taxdetails&id=1419422) is the type species of genus [Selenopora](https://www.marinespecie

[2022-09-27 12:57] mdoering opened #468 "Phylum Onychophora"
Phylum [Onychophora](https://www.catalogueoflife.org/data/taxon/99CY3) has 2 synonyms which are spelled wrongly.
It should be "chophora" not "cophora"

https://www.gbif.org/species/182598826
https://en.wikipedia.org/wiki/Euonychophora

There are also no classes in this phylum. Maybe follow [Myriatrix](https://www.gbif.org/species/182598786)?

[2022-09-27 16:57] DaveNicolson commented on #468
I am doubly-confused. First it was noted that ITIS' Onychophora were out of date (which was fair), so we provided a full update of the group at the end of June this year.

Now there is a perceived issue with the spelling of 2 names in synonymy (at the top level) and the lack of classes in the group (which has gone back and forth over the last couple decades) and it is suggested to follow Myriatrix

[2022-09-27 18:29] mdoering commented on #468
Sorry for the confusion Dave. And much appreciated your detailed response. I have not been part of that previous discussion, so I wasnt aware. It all makes sense. I would probably only add the 2 extra spellings to the synonymy :)

[2022-09-27 18:32] mdoering commented on #468
@olafbanki @dhobern I guess this shows again how difficult it is to understand the existing decisions in COL from the outside. We need to capture those works and discussions that form the basis for decisions of the COL hierarchy in particular.

[2022-09-27 18:47] yroskov commented on #460
Yeah, a bug. It was caused by this problem: https://github.com/CatalogueOfLife/backend/issues/1042

[2022-09-27 18:50] DaveNicolson commented on #468
I've just gotten an update file that adds the correctly-spelled names in synonymy. It is too late for this month's load, which we are in the process of finalizing, so it will be included in the ITIS load at the end of October.

[2022-09-27 20:20] DaveNicolson commented on #468
Out of curiosity, when you refer to decisions of the COL hierarchy, does that mean anything above family, or anything above a GSD, or... ? Thanks!

[2022-09-28 07:34] mdoering commented on #468
Good question. As a user I guess it doesnt really matter if it's the core COL hierarchy outside a GSD or inside a GSD. I simply want to understand why a group is treated that way. Not sure how thats best documented. Listing consulted publications that are being followed like you have in ITIS are a large step towards that transparency I suppose. But sometimes there is more discussion and decisions

[2022-09-29 12:01] CecSve commented on #427
It seems the issue with the misspelled family still lingers in the CoL [checklist](https://www.gbif.org/species/search?dataset_key=7ddf754f-d193-4cc9-b351-99906754a03b&highertaxon_key=198369024&origin=SOURCE&advanced=1). I wonder if there is a more recent update of Systema Dipterorum than in February since the fix was not applied before April?

[2022-10-02 16:06] mdoering commented on #427
The version of SD is apparently from May 2022:
https://www.catalogueoflife.org/data/dataset/1101

SD claims Stegana was last revised in April 27th:
http://www.diptera.org/Nomenclator/Details/266834

@yroskov we should try to update again as soon as possible, this is a very visible error

[2022-10-03 13:45] dhobern opened #469 "COL Checklist generates ghost genera for incertae sedis species"
The Gelechiidae dataset includes a number of species with binomials that have not been revised to reflect modern taxonomy. These are shown in the dataset as species with the family as their immediate parent, e.g. 'Barea ectadia':

https://www.checklistbank.org/dataset/2362/taxon/11010

When this species is imported into the COL checklist, an erroneous genus Barea is created and shown as accepted.

[2022-10-03 14:18] yroskov commented on #469
@mdoering, it's for you: "COL needs to change its processing [species names without genus] so this genus does not get created [by the checklistbank]". Indeed, CLB should not create a genus in the classification, if it's not provided by GSD.

However, as for me, the species name does not exist in the taxonomic checklist without genus (art. 5.1 ICZN). As a best practice, the GSD author should not su

[2022-10-03 17:33] mdoering commented on #469
The species needs to have a provisional status to be kept without a genus during a sync.

This issue comes up rather frequently and we need to communicate how to express uncertain placed species. We have discussed this before. Cant find the issue now, but here is the recommendation: https://github.com/CatalogueOfLife/coldp/blob/master/README.md#species-with-an-uncertain-genus

[2022-10-03 18:19] yroskov commented on #469
Species without genus is a nonsense. I hope, taxonomists are able to understand this as outcome of their unfinished work. Above proposal will cause a lot of confusions for CoL users outside taxonomic profession.

[2022-10-03 20:45] yroskov commented on #459
Let see, what will be happened in a new version. I requested it today.

[2022-10-03 22:26] dhobern commented on #469
Thanks @mdoering - I've changed them all to provisional = true and reimported into CLB.

[2022-10-03 22:26] #469 closed

[2022-10-04 02:08] mdoering commented on #469
@yroskov you should also be able to change the status with decisions to avoid redundant genera

[2022-10-04 02:12] mdoering commented on #469
How else would you want to treat this problem?

We have to live with the fact that there are unresolved species placements and missing names (in botany you publish new combinations). And the discussion so far ended with the provisionally accepted status being well suited to indicate just that to users and to the assembly system. Happy to hear alternative ideas how to address this.

[2022-10-04 02:25] mdoering commented on #469
Here is our original discussion that led to the recommendation.

https://github.com/CatalogueOfLife/coldp/issues/45

I think it is important we agree on one way to do it and try our best to steer the COL checklist towards a consistent state.

[2022-10-12 13:01] jhnwllr opened #470 "WoRMS Asteroidea - Goniaster quinqueloba is a missing syn of Asterias quinqueloba Goldfuss, 1831"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4308

**Goniaster quinqueloba** is a missing syn of **Asterias quinqueloba Goldfuss, 1831**.

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/846SZ
https://www.catalogueoflife.org/data/dataset/1095

**Literature references**:
https://www.google.de/boo

[2022-10-12 13:30] jhnwllr opened #471 "WoRMS Bryozoa - Aulopora divaricata is missing syn of †Stomatopora divaricata (Römer, 1839)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4306

**Aulopora divaricata Röm.** is missing syn of **†Stomatopora divaricata (Römer, 1839)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/86T26

**Literature references**:
https://www.zobodat.at/pdf/Palaeontographica_20_1_0001-0319.pdf

https://

[2022-10-12 13:43] jhnwllr opened #472 "Global Lepidoptera Index - Witlesia truncicolella is missing syn of Eudonia truncicolella (Stainton, 1849)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4249

**Witlesia truncicolella** is missing syn of **Eudonia truncicolella (Stainton, 1849)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/3C2L9

**Literature references**:
https://www.google.de/books/edition/Proceedings/20XVAAAAIAAJ?hl=de&gbpv=1&

[2022-10-12 13:48] jhnwllr opened #473 "Global Lepidoptera Index - Ptychopoda nitidata is missing syn of Idaea nitidata (Herrich-Schäffer, 1861)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4248

**Ptychopoda nitidata** is missing syn of **Idaea nitidata (Herrich-Schäffer, 1861)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/3PBTP
https://www.catalogueoflife.org/data/dataset/55434

**Literature references**:
https://www.zobodat.at/pd

[2022-10-12 14:02] jhnwllr opened #474 "Global Lepidoptera Index - Ptychopoda lutulentaria is missing syn of Idaea lutulentaria (Staudinger, 1892)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4247

**Ptychopoda lutulentaria** is missing syn of **Idaea lutulentaria (Staudinger, 1892)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/3PBRQ
https://www.catalogueoflife.org/data/dataset/55434

**Literature references**:
https://www.google.com/

[2022-10-12 14:18] jhnwllr opened #475 "Global Lepidoptera Index - Ptychopoda longaria Herrich-Schäffer, 1852 is missing syn of Idaea longaria (Herrich-Schäffer, 1852)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4246

**Ptychopoda longaria Herrich-Schäffer, 1852** is missing syn of **Idaea longaria (Herrich-Schäffer, 1852)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/3PBRF
https://www.catalogueoflife.org/data/dataset/55434

**Literature references**:
ht

[2022-10-12 14:22] yroskov commented on #470
@bart-v, it may have an interest for WoRMS authors

[2022-10-12 14:23] yroskov commented on #472
@dhobern, it's for you

[2022-10-12 14:23] jhnwllr opened #476 "Global Lepidoptera Index - Ptychopoda exilaria is missing syn of Idaea exilaria (Guenee, 1858)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4245

**Ptychopoda exilaria** is missing syn of **Idaea exilaria (Guenee, 1858)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/6MTHJ
https://www.catalogueoflife.org/data/dataset/55434

**Literature references**:
https://www.google.de/search?q=%22P

[2022-10-12 14:24] yroskov commented on #474
@dhobern, it's for you

[2022-10-12 14:24] yroskov commented on #475
@dhobern, it's for you

[2022-10-12 14:32] jhnwllr opened #477 "Global Lepidoptera Index - Ptychopoda fathmaria Oberthür, 1876 is missing syn of Idaea fathmaria Oberthür, 1876"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4244

**Ptychopoda fathmaria Oberthür, 1876** is missing syn of **Idaea fathmaria Oberthür, 1876**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/3PBMH
https://www.catalogueoflife.org/data/dataset/55434

**Literature references**:
https://www.google

[2022-10-12 14:34] yroskov commented on #477
@dhobern, it's for your attention

[2022-10-12 14:38] jhnwllr opened #478 "Global Lepidoptera Index - Ptychopoda lambessata Oberthur, 1887 is missing syn of Idaea lambessata (Oberthur, 1887)"
**Describe the problem**:

A GBIF user has given the following feedback
https://github.com/gbif/portal-feedback/issues/4243

**Ptychopoda lambessata Oberthur, 1887** is missing syn of **Idaea lambessata (Oberthur, 1887)**

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/3PBQT
https://www.catalogueoflife.org/data/dataset/55434

**Literature references**:
https://www.go

[2022-10-12 14:38] bart-v commented on #471
Forwarded to editors

[2022-10-12 14:40] yroskov commented on #478
@dhobern, FYI

[2022-10-16 21:57] dhobern commented on #472
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid and pyraloid (like this) ones will be better handled by datasets we're currently exploring adding.

[2022-10-16 21:58] dhobern commented on #473
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid (like this) and pyraloid ones will be better handled by datasets we're currently exploring adding.

[2022-10-16 21:58] dhobern commented on #474
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid (like this) and pyraloid ones will be better handled by datasets we're currently exploring adding.

[2022-10-16 21:59] dhobern commented on #475
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid (like this) and pyraloid ones will be better handled by datasets we're currently exploring adding.

[2022-10-16 21:59] dhobern commented on #476
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid (like this) and pyraloid ones will be better handled by datasets we're currently exploring adding.

[2022-10-16 21:59] dhobern commented on #477
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid (like this) and pyraloid ones will be better handled by datasets we're currently exploring adding.

[2022-10-16 21:59] dhobern commented on #478
Thanks - I can fix these over the next few days in the Global Lepidoptera Index, although the geometrid (like this) and pyraloid ones will be better handled by datasets we're currently exploring adding.

[2022-10-18 06:59] claudenozeres commented on #467
For WoRMS, this example is a fossil, so is hidden by default? Perhaps the fetch query could not work for that reason, e.g., https://www.checklistbank.org/dataset/1081/name/urn:lsid:marinespecies.org:taxname:1419422
vs: https://www.marinespecies.org/aphia.php?p=taxdetails&id=1419422 (had to override to obtain?).

[2022-10-18 07:09] olafbanki commented on #372
@SiobhanLeachman it looks like the genus has been added to the COL Checklist: https://www.catalogueoflife.org/?taxonKey=93PGT Not sure why some names like Tingena actinias (Meyrick, 1901) are still missing.

[2022-10-18 07:27] SiobhanLeachman commented on #372
I'm trusting in the process but it is worrying. Especially since I'm aware our national museum Te Papa is in the process of planning to publish their specimen data in GBIF and Manaaki Whenua Landcare Research has already done so. And of course there is all the occurrence data from iNaturalist which is currently not being aggregated for this species.

[2022-10-18 07:31] olafbanki commented on #372
@SiobhanLeachman @dhobern One option, I can think of is to get the New Zeeland Organism Register into ChecklistBank: https://www.nzor.org.nz/ if there is willingness to do so. This will make sure that we have all endemics from New Zeeland (again)

[2022-10-18 07:32] olafbanki commented on #372
@SiobhanLeachman We definitely need to fix this on the short and long term.

[2022-10-18 07:32] mdoering commented on #467
Yes, the name 1419422 is missing from the archive and still linked from some records:
https://www.checklistbank.org/dataset/1081/verbatim?q=1419422&type=col%3AName

But it also seems to be hidden in WoRMS, maybe thats the reason it does not get exported?

[2022-10-18 07:36] SiobhanLeachman commented on #372
@olafbanki @dhobern The New Zealand Organism Register is out of date as it hasn't been worked on properly for a few years. Saying that lepidoptera is better off as someone was updating it at least until recently. However nowdays the most up to date database is the Manaaki Whenau Landcare Research Biota in New Zealand (https://biotanz.landcareresearch.co.nz/) I would LOVE if this was fixed in the s

[2022-10-18 07:46] olafbanki commented on #372
@SiobhanLeachman @dhobern @mdoering thanks for pointing to this data source. We will make contact and see if the data can be published to ChecklistBank. As far as I can see the data is licensed with CC-BY, we need to look into how the data could be shared if there is interest in sharing it through ChecklistBank (https://checklistbank.org).

[2022-10-18 07:53] SiobhanLeachman commented on #372
@olafbanki @dhobern @mdoering Thank you! It would be fabulous if these data could be shared to better inform the Catalogue of Life.

[2022-10-18 08:38] olafbanki commented on #372
Thanks Donald!

[2022-10-18 08:39] dhobern commented on #372
I don't know where the synonymy came from - there is no evidence I can see for it, so I've removed it. I've got a few other pending changes to the TaxonWorks dataset, so I'll make those and upload it to CLB.

[2022-10-18 12:03] dhobern commented on #478
Added to Global Lepidoptera Index - should be in next release of COL

[2022-10-18 12:15] dhobern commented on #477
Added to Global Lepidoptera Index - should be in next release of COL

[2022-10-18 12:15] dhobern commented on #475
Added to Global Lepidoptera Index - should be in next release of COL

[2022-10-18 12:15] dhobern commented on #474
Added to Global Lepidoptera Index - should be in next release of COL

[2022-10-18 12:15] dhobern commented on #473
Added to Global Lepidoptera Index - should be in next release of COL

[2022-10-18 12:15] #473 closed

[2022-10-18 12:15] #474 closed

[2022-10-18 12:15] #476 closed

[2022-10-18 12:15] #477 closed

[2022-10-18 14:17] yroskov commented on #473
@dhobern, let me know, please, when you upload a new Global Lepidoptera Index version in CLB. We'll need to sync it before CoL release. The current version of GLI "imported Oct 4, 2022 10:44 PM".

[2022-10-18 14:47] mdoering commented on #473
@yroskov you can always see the sources that need to be synced marked in the [sourcmetrics](https://www.checklistbank.org/catalogue/3/sourcemetrics) with an asterisk! The number in brackets is the latest import attempt, the other one the attempt last synced.

[2022-10-18 15:38] yroskov commented on #473
I need to know here when a version with corrections logged in GitHub on Oct 12 will be ready in CLB.

[2022-10-18 22:02] dhobern commented on #473
The only delay was because I have to export from TW before I can upload to CLB. This export completed overnight and it is now uploading to CLB. The corrections were not logged on Oct 12. They were loged on Oct 18 (yesterday).

[2022-10-19 18:17] mdoering commented on #473
Curious, is there no version and issued date in the generated TW archive?

[2022-10-19 21:47] dhobern commented on #473
No - there is no metadata at all. I always forget I need also to change the date on the dataset. Done now.

[2022-10-20 06:19] mdoering commented on #473
@mjy @gdower @jlpereira could TW exports include at least some basic metadata like the title, date issued, a version and the people who created it?

[2022-10-20 06:32] dhobern commented on #473
Thanks, @mdoering . I would just note that there is a lot of other metadata I currently have to craft outside TW (past editors, dataset description, etc.). If TW includes only simple metadata and CLB imports the dataset metadata from the COLDP package, would I have to fix it all whenever the dataset is refreshed?

[2022-10-20 07:51] mdoering commented on #473
There is a setting in CLB that allows to merge metadata on imports. That way only fields that are included in the archive will overwrite what was there, but any others remain. So if TW started out with just the issued date that would be kept up to date and anything else could be manage manually

[2022-10-20 22:19] dhobern commented on #473
Thanks - all good then.

[2022-10-26 12:39] ManonGros opened #480 "Species Fungorum Plus: Species Fungorum for CoL+ - Macrohyporia cocos (Schwein.) I. Johans. & Ryvarden isn't accepted name in source"
**Describe the problem**:
This originally came from a question sent to the GBIF Helpdesk. While investigating the question, I realised that the accepted name in the CoL `Macrohyporia cocos (Schwein.) I. Johans. & Ryvarden` isn't the same as the accepted name at the source cited `Wolfiporia cocos (F.A. Wolf) Ryvarden & Gilb.`.
Would it be possible to investigate?

**Link to effected CoL webpages**:

[2022-10-26 13:17] yroskov commented on #480
Forwarded to Species Fungorum editor

[2022-10-27 06:51] CecSve opened #481 "Otiorhynchus civis (Coleoptera, Curculionidae) no longer a synonym of Otiorhynchus meridionalis"
**Describe the problem**:
A GBIF user has contacted help desk and notified us of a publication that describes Otiorhynchus civis as a separate species and not as a synonym of Otiorhynchus meridionalis. GBIF gets the name from CoL and CoL gets the name from [3i Curculio: 3i taxonomic databases, Curculionidae, subfamily Entiminae](https://www.catalogueoflife.org/data/dataset/1166)

**Link to effecte

[2022-10-27 16:49] yroskov commented on #481
Forwarded to the author of the database.

[2022-11-05 02:13] dhobern opened #482 "Family shown as child of another family"
COL includes three records for Margaritidae:

https://www.catalogueoflife.org/data/search?facet=rank&facet=issue&facet=status&facet=nomStatus&facet=nameType&facet=field&facet=authorship&facet=extinct&facet=environment&limit=50&offset=0&q=Margaritidae&sortBy=taxonomic

![image](https://user-images.githubusercontent.com/26148454/200096486-0e07735f-6922-4e31-9a03-755309b58fb1.png)

One of these is li

[2022-11-05 02:24] dhobern opened #483 "Mangled distributions from WoRMS"
See the distributions here: https://www.catalogueoflife.org/data/taxon/5W2WT

mrgid:marineregions.org , mrgid:mrgid , mrgid:48182 , mrgid:marineregions.org , mrgid:mrgid , mrgid:48140 , mrgid:marineregions.org , mrgid:mrgid , mrgid:48142 , mrgid:marineregions.org , mrgid:mrgid , mrgid:48151 , mrgid:marineregions.org , mrgid:mrgid , mrgid:48214 , mrgid:marineregions.org , mrgid:mrgid , mrgid:48213

[2022-11-06 16:37] yroskov commented on #483
Dear @bart-v (@gdower) could you please have look on this?

[2022-11-06 16:40] yroskov commented on #482
@bart-v, do you think it's WoRMS related issue or CoL@CLB interpretation issue for @mdoering?

[2022-11-06 18:07] TonyRees commented on #482
Hi all, I cannot answer the question above, but as a side issue, the homonymy between Margaritidae Blainville (Bivalvia) and Margaritidae Thiele (Gastropoda), both currently treated as accepted names, has been requested to be addressed by the Commission as of now (15 Oct 2022):

Case 3828 – The Family Name of the Pearl Oysters: Proposal to Remove the Homonymy of Margaritidae Blainville, 1824 (Moll

[2022-11-06 18:38] TonyRees commented on #482
Also noting @bart-v that currently in MolluscaBase, Margaritidae Blainville (https://www.molluscabase.org/aphia.php?p=taxdetails&id=564652) does not include its type genus Margarita Leach, 1814, although it should (as a synonym of Pinctada), along with another 8 or so other synonyms of Pinctada.

[2022-11-06 23:59] dhobern commented on #482
@yroskov - I didn't have time to dig deeper over the weekend, but the place to start is by looking at the actual data supplied from WoRMS/MolluscaBase. Does that assert that Margaritidae is a child of Trochidae? Or does it correctly express the relationship and CLB misinterpret it?

This should be easy to check - then it will be clear whether it is a data or a code issue.

[2022-11-07 07:52] mdoering commented on #483
The [ColDP distributions](https://github.com/CatalogueOfLife/coldp/blob/master/README.md#distribution) should consist of an identifier `areaID` and a controlled `gazetteer` value to know the context and optionally a human label `area`. See discussion at https://github.com/CatalogueOfLife/coldp/issues/40. The ColDP docs don't seem to line up, I'll update them.

For example in the case above one rec

[2022-11-07 07:55] mdoering commented on #483
@bart-v the distribution looks fine to me, I'll make sure we interpret the URL value as a single value.
Showing the area name is a bit more difficult though - we will need to track the entire MRGID enumeration in the backend like we do for TDWG, ISO and other codes.

[2022-11-07 08:24] mdoering commented on #483
@bart-v looking at MRGID it appears it actually refers to other standards like TDWG in this case:
https://marineregions.org/gazetteer.php?p=details&id=48213

Relations:
Part of	  [Ireland](https://marineregions.org/gazetteer.php?p=details&id=47660) (TDWG - level 3)
Has preferred alternative	  [Ireland](https://marineregions.org/gazetteer.php?p=details&id=2114) (Nation)	  [[view hierarchy](https://

[2022-11-07 09:00] dhobern commented on #482
From the original version imported into CLB, here are four relevant name records:

ID	basionymID	scientificName	authorship	rank	uninomial	genus	infragenericEpithet	specificEpithet	infraspecificEpithet	cultivarEpithet	code	status	referenceID	publishedInYear	publishedInPage	publishedInPageLink	link	remarks

urn:lsid:marinespecies.org:taxname:564652		Margaritidae	Blainville, 1824	Family	Margaritidae

[2022-11-07 10:16] #483 closed

[2022-11-07 10:37] mdoering commented on #482
You can find the original record in CLB here

Interpreted with an issue `classification rank order invalid`:
https://www.checklistbank.org/dataset/1130/taxon/urn:lsid:marinespecies.org:taxname:224537

The verbatim records
Taxon: https://www.checklistbank.org/dataset/1130/verbatim/1067178
Name: https://www.checklistbank.org/dataset/1130/verbatim/784384

The name record clearly declares it to be fam

[2022-11-07 10:45] dhobern commented on #482
@mdoering It doesn't seem to be that simple. The original name record on which the CLB record is meant to be based is this one:

urn:lsid:marinespecies.org:taxname:224537 Margaritinae Thiele, 1924 Subfamily Margaritinae ICZN 40522 1924 67 https://www.molluscabase.org/aphia.php?p=taxdetails&id=224537 original rank

That is clearly a subfamily record. Something has gone wrong somewhere in WoRMS lett

[2022-11-07 11:15] mdoering commented on #483
Reopening as the issue is adressed in the backend code, but not in the data. Potentially all WoRMS sources should be reimported and resynced now.

[2022-11-07 11:19] dhobern commented on #482
No - the records I gave were cut-and-pasted from the "Original" ColDP files that I can download again from CLB.

[2022-11-07 11:51] mdoering commented on #482
@dhobern are these lines from the `Name.csv` file?

It seems the Taxon record causes the problem, because the Taxon record for [urn:lsid:marinespecies.org:taxname:224537](https://www.checklistbank.org/dataset/1130/verbatim/1067178) is linked to `nameID` https://www.checklistbank.org/dataset/1130/verbatim/784384 which is the family Margaritidae.

The subfamily name record with the 224537 id indeed

[2022-11-07 12:13] dhobern commented on #482
Thanks - I guess then that this issue is for WoRMS / @bart-v.

[2022-11-08 11:04] bart-v commented on #483
This issue has been there for quite a while, but I always assume what we send is just OK.
Great to see that confirmed & thanks for looking into this now.

MarineRegions (MRGID) is indeed a mixture of multiple existing standards and a multitude of entries that are not part of any other standard at all: obviously and especially marine place names.

The "preferred alternative" is just there to indica

[2022-11-08 11:15] mdoering commented on #483
Thanks @bart-v, could you explain a little more how MarineRegions works? If I understand correctly it is assembled from all these sources here: https://marineregions.org/sources.php

When/how often does it change? Are their distinct releases with versions? I can only seem to be able to [download](https://marineregions.org/downloads.php) individual sources, but not the entire MarineRegions. Is it a

[2022-11-08 11:17] bart-v commented on #483
The system is updated constantly, just like WoRMS.

We have multiple ways to access the data, i.e. a Linked Data Event Streams (LDES) feed
https://www.marineregions.org/gazetteer.php?p=webservices

[2022-11-08 11:36] mdoering commented on #483
Great. To seed a system before using LDES you would use REST or does LDES provide you with simple ways to access a "snapshot"? I havent used LDES before, looks useful.

[2022-11-08 12:55] bart-v commented on #482
The main problem is that COL does not allow taxa/names to have unaccepted parent names/taxa, while WoRMS does.

So, when we come across such cases, we replace the unaccepted parent name with the accepted parent name.
(we are very flexible in taxa vs. names, vs. classification)

In this example: [Gazini](https://www.marinespecies.org/aphia.php?p=taxdetails&id=411625) Hickman & J. H. McLean, 1990 (u

[2022-11-08 13:07] dhobern commented on #482
Unaccepted names don't need a parent at all in CoLDP. Only (accepted) taxa
do. You could declare a name Margaritinae and use that as the basionym for
another name Margaritidae and associate the latter with a taxon. The former
can be synonymised with the latter. Would that meet your need? I'm not sure
where you want to place Gazini in the absence of an accepted location.

--

*Donald Hobern* / ***@

[2022-11-08 13:16] bart-v commented on #482
I know that, so for synonym we could remove the parent.
But we have accepted names with unaccepted parents too...

[2022-11-08 13:21] dhobern commented on #482
I see two options there. One is to treat the child as an incertae sedis child of a higher taxon. The other would be to set the provisional=true flag on the unaccepted taxon.

[2022-11-08 14:19] bart-v commented on #482
And don't swap the unaccepted with the accepted parent.
So only change the status.
Looks like a plan.

Agree @mdoering ?

[2022-11-08 14:48] mdoering commented on #482
The plan is to just set the provisional flag for those unaccepted taxa? Thats a good plan !

[2022-11-08 14:50] mdoering commented on #482
But how do you differ between unaccepted being a synonym and unaccepted being a provsionally accepted name?
Is it a synonym if it has no children and provisionally accetepd in case there are children?

[2022-11-08 15:27] bart-v commented on #482
Yes!

[2022-11-08 23:10] dhobern commented on #482
@mdoering - I don't understand your question there. If it's a synonym, there will be a synonym record. If it's a provisionally accepted taxon, there will be a taxon record with provisional=true and no synonymy. There should never be a taxon AND a synonym for the same name. (Not sure how it would work in the NameUsage version.)

[2022-11-09 04:04] mdoering commented on #482
@dhobern my question was to Bart how you can discover in Aphia whether it is a synonym or provisional name - it is both unaccepted there.

And you can definitely have the same name being accepted and a synonym, that is quite often the case with sensu latu names after a split. The old name s.l. is a synonym of a new name, but still accepted s.str. While thinking about [taxon concept ids](https://gi

[2022-11-09 04:45] dhobern commented on #482
Thanks, Markus.

I understood that case, but I don't think it could apply in the situation
here of higher taxa.

On Wed, 9 Nov 2022 at 15:04, Markus Döring ***@***.***> wrote:

[2022-11-09 04:46] mdoering commented on #482
surely not, no.

On 9. Nov 2022, at 05:45, Donald Hobern ***@***.******@***.***>> wrote:

Thanks, Markus.

I understood that case, but I don't think it could apply in the situation
here of higher taxa.

On Wed, 9 Nov 2022 at 15:04, Markus Döring ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub<https://github.com/CatalogueOfLife/data/issues/482#issuecomment-1308205657>, or uns

[2022-11-11 09:10] mdoering opened #484 "Chordate classification misses Linnean ranks"
With the recent change in the higher chordate classification, especially fishes, we end up with many intermediate ranks including rare ranks like gigaclass, but without a regular class rank! I am all in favor of having a more detailed classification, but it makes no sense to me to omit the major Linnean ranks. This might be the case for unplaced families, but not for entire classes like [Actinopte

[2022-11-11 09:29] mdoering commented on #484
@dhobern @yroskov @NicBailly could you please take a look at Actinopterygii and also review the other changes in Chordates?

Here is a simple, complete view of all chordates down to tribes:
http://api.checklistbank.org/dataset/3/export.txt?taxonID=686214e1-d253-4ae5-8708-643c8c587788&rank=SUBPHYLUM&rank=INFRAPHYLUM&rank=PARVPHYLUM&rank=MICROPHYLUM&rank=NANOPHYLUM&rank=GIGACLASS&rank=MEGACLASS&rank

[2022-11-11 09:31] mdoering commented on #484
This an [overview of existing ranks within chordates](https://www.catalogueoflife.org/data/taxon/CH2):

<img width="914" alt="image" src="https://user-images.githubusercontent.com/327505/201310468-2204cc62-71b6-41ef-83c9-387d3b88ce17.png">

[2022-11-11 19:43] yroskov commented on #484
These problems in FishBase and ReptileDB were reported to the Taxonomy Group and Global Team.

Regarding **Actinopterygii**: old FishBase data cannot be transformed in proposed classification; we are still waiting for FishBase update via WoRMS:
https://github.com/CatalogueOfLife/testing/issues/186#issuecomment-1160843888

Regarding Reptile classification: CoL lost classic orders. They were lifted

[2022-11-14 15:22] bart-v commented on #482
Actually, it seems like we are already doing this.

This specific case was triggered by something else in the query that is now fixed.
This name will not appear as provisionally accepted any more, as there is no accepted children.
Will be available the the next export on 2022-12-01

[2022-11-15 13:55] mdoering opened #485 "Include World Wide Wattles again"
WWW was never supposed to be removed. The editors of the WCVP Fabaceae list have expressed concern that their list is not yet ready to replace WWW for the genera Acacia, Acaciella, Senegalia, Parasenegalia, Mariosousa, Pseudosenegalia and Vachellia.

Replace those with the WWW version until WWW gets included in WCVP Fabaceae properly.

[2022-11-16 09:43] olafbanki commented on #485
@mdoering I have assigned this to @dhobern as this concerns the COL Taxonomy Group.

[2022-11-17 01:07] dhobern commented on #485
I have a new and more complete version of WWW - it formerly excluded synonyms. I plan to try to format it as COLDP this weekend. If that proves difficult, we can roll back to the old WWW. Otherwise, it is the one we should use.

[2022-11-17 09:27] mdoering commented on #485
Great! Please don't create a new dataset but reuse the one [we have](https://www.checklistbank.org/dataset/1162) to keep metrics and history. For testing you can create a dataset on dev of course. The old one is always available as the AC19 ACEF export we did: https://raw.githubusercontent.com/Sp2000/colplus-repo/master/ACEF/162.tar.gz

[2022-11-17 10:09] mdoering commented on #463
The duplicate tool shows about 2200 duplicate accepted uninomials in COL within the same nomenclatural code:
https://www.checklistbank.org/catalogue/3/duplicates?catalogueKey=3&category=uninomial&codeDifferent=false&limit=100&minSize=2&mode=STRICT&rankDifferent=false&status=accepted

This is clearly wrong. Even the task board shows the problems quickly. Identicial orders, superfamilies and familie

[2022-11-17 13:46] sergbolshakov commented on #416
Hello, is there any news on the update of mosses classification in COL? Meanwhile, Bryonames continues to make good progress.

[2022-11-17 13:48] yroskov commented on #416
Still waiting for a new version of MOST. Any updates on it, @mdoering?

[2022-11-17 14:11] yroskov commented on #463
I can see 5 groups of duplicates in this report :

1) **Names under different Codes.** Any ideas on what to do in this case?

Examples:

<html><body>

  | MOST | 1057ef0d-5729-46b2-a6d5-5ce02c431ed8 |   | accepted | Abietinella |   |   | genus | Bryopsida>Hypnales>Thuidiaceae
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
  | WoRMS Hydrozoa | 8770ad59-888c-40a3-b552-a6b492d1508b |   | accepted |

[2022-11-17 14:27] mdoering commented on #416
Yes. It is here now: https://www.checklistbank.org/dataset/170394/about

[2022-11-17 14:29] yroskov commented on #463
There are [>200 higher supergeneric duplicates](https://www.checklistbank.org/catalogue/3/duplicates?catalogueKey=3&category=uninomial&codeDifferent=false&limit=100&minSize=2&mode=STRICT&rank=domain&rank=subrealm&rank=realm&rank=tribe&rank=supertribe&rank=infrafamily&rank=subfamily&rank=epifamily&rank=superfamily&rank=family&rank=suborder&rank=infraorder&rank=order&rank=superorder&rank=minorder&ra

[2022-11-17 14:32] yroskov commented on #416
Good! We'll update it in December edition.

[2022-11-17 14:37] mdoering commented on #463
The query was to ignore different codes as these are valid names. I suspect we do not have the code set in all names. Maybe you can update that for those names? If the original data does not yet contain a nomenclatural code this can be specified in a sectors settings. If you give me a list of source datasets per code I could also apply that setting in the database for all its sectors, cause I can

[2022-11-17 14:41] mdoering commented on #463
Ah, I see. I am indeed not sure if we can apply decisions in the project yet. We started that work, but I am not certain if it was ever finished. @thomasstjerne do you remember what the current situation is with decisions created via the project instead of the source view? If it works (the UI needs to retrieve different dataset/project keys) they would end up just as regular decisions in the sourc

[2022-11-17 14:42] mdoering commented on #463
@dhobern:

[2022-11-17 14:53] yroskov commented on #463
Actually, every item in this discussion is for Taxonomy Group - @dhobern

I would also like to see TG assessment of Systema Dipterorum classification/data (and WTaxa, TITAN). We have many internal conflicts there, which we cannot repair on our side with @gdower

[2022-11-17 15:09] yroskov commented on #463
Another question: does ICZN prohibit homonymy (or even regulate names) above family-group? GSDs may ignore any kind of best practice introduced by CoL or GBIF.

[2022-11-17 15:13] mdoering commented on #463
Names above family are not regulated by ICZN. But does that mean COL should not care?

[2022-11-17 16:00] DaveNicolson commented on #463
Within the ranks that do deal w/homonymy, there is also this little detail, which is probably not part of the issue here (probably not a common issue):
"2.2. Names of taxa at some time but not later classified as animals
Any available name of a taxon that has at any time been classified as animal continues to compete in homonymy in zoological nomenclature even though the taxon is later not classif

[2022-11-17 21:34] yroskov commented on #463
I have checked all GSDs@CoL. Almost all under Geoff and mine management have assigned Code. Few GSDs managed by other people and I cannot check Code assignment. Set of checklists contains taxa under different Codes (marked in my report as "mixed") - how to assign Code to their sectors?

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:sch

[2022-11-17 22:09] mdoering commented on #463
- Alucitoidea has zoo

I have updated:
 - Gelechiidae
 - Brassicaceae
 - WCVP
 - WCVP Fabaceae
 - Gl Lepidoptera Index

[2022-11-17 22:15] yroskov commented on #463
Thanks!

@mdoering, GO (@gdower) works on Codes for ITIS sectors. Our question: do we need to do re-import/re-sync after Code assignment for the sector?

[2022-11-17 22:16] mdoering commented on #463
For mixed datasets we should set the code in the sector settings. These get applied during syncs, not imports.
I can only find changing sector settings in the assembly tree now:

<img width="1442" alt="image" src="https://user-images.githubusercontent.com/327505/202571522-88006cd1-7d88-4571-8b16-a5f0dcf91dd9.png">

After changing the ITIS beetle sector to zoological it already shows in the sector

[2022-11-17 22:20] gdower commented on #463
I'm working on adding the nom code to ITIS sectors. I think I had done it previously but some of the new sectors don't have it. Having the nom code display and be editable in the sectors table would be great.

[2022-11-17 22:20] mdoering commented on #463
The settings in both the dataset and sectors are only applied at import / sync time, so if they change this needs a reimport or resync respectively. But I guess we can wait for many datasets/sectors for the next regular update. I would just force an update for the rarely updated ones now.

[2022-11-17 22:24] gdower commented on #463
Can you tell if the AC19 datasets have code set? I think it's likely we did already re-import them after setting the code.

[2022-11-17 22:28] yroskov commented on #463
Examples of "AC19 databases" (i.e. checklists which were imported in CLB from AC19 and were not updated since that time):

Conifer Database
Taxapad Ichneumonoidea
The White-Files
TicksBase
Tineidae NHM
TITAN
UCD

[2022-11-17 22:28] mdoering commented on #463
I can query for all names in the project that do not have a code set and group them by their source dataset key.
There are surprisingly many with small numbers, often 1, which feels like a code problem.

Then there are xxxx without any dataset/sector. I suspect these are the management hierarchy or relicts of sector deletions.
Its gonna be harder to get them right, but especially the higher manage

[2022-11-17 22:35] dhobern commented on #463
For what it's worth, Tineidae is next on my list of datasets to try to
improve after the Geometridae and Pyralidae/Crambidae.

--

*Donald Hobern* / ***@***.*** / +61 420511471
Araba Bioscan Project <https://stangeia.hobern.net/araba-bioscan-project/>
/ Pterophoroidea <https://pterophoroidea.hobern.net/> / Alucitoidea
<https://alucitoidea.hobern.net/> / BOLD Australia
<https://bold-au.hobern.net/>

[2022-11-17 23:42] gdower commented on #463
@mdoering, I noticed that there's a mix of implementations in [ITIS](http://api.checklistbank.org/dataset/3/sector?subjectDatasetKey=2144&limit=1000) sectors for where the code is defined. Does it matter if it is nested inside of the subject or are you taking code from either?

[code]

[code]

[code]

[2022-11-18 02:50] yroskov commented on #463
These IRMING sectors should be botanical for sure: Haptophyta, Rhodophyta, Glaucophyta, Chlorophyta Charophyta

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Geoff Ower ***@***.***>
Sent: Thursday, November 17, 2022 5:43:08 PM
To: CatalogueOfLife/data ***@***.***>
Cc: Roskov, Yury ***@***.***>; Assign ***@***.***>
Subject: Re: [CatalogueOfLife/data] Redunda

[2022-11-18 07:10] mdoering commented on #463
These have different purposes. The root code property is the one that defines which code to apply as the default for all names that are synced - if it not already has one.

The other 2 are part of the subject or target definition and help to find the name during a rematch.

So only the root one is what we are after here.

[2022-11-18 08:15] thomasstjerne commented on #463
Yes, but it is tied to the new tabbed sector view with priority management and sync. So it will only be available when the xcol branch is merged in

[2022-11-18 15:42] yroskov commented on #463
Just in case. Now, we are sure that Code assigned with all GSDs (except IRMNG). However, there are still cases like WCVP-Fabaceae vs 3i Auchenorrhyncha, WoRMS Brachyura vs WCVP, WoRMS Trematoda vs Species Fungorum, etc. in the report:
_(setting Code different: No)_

https://www.checklistbank.org/catalogue/3/duplicates?catalogueKey=3&category=uninomial&codeDifferent=false&limit=999&minSize=2&mode=S

[2022-11-18 20:44] mdoering commented on #463
did you sync the respective sectors?

[2022-11-18 20:47] mdoering commented on #463
Again, did you sync? Looking at the 2 Abrus names the WCVP one is still missing a code:
https://www.checklistbank.org/catalogue/3/name/9ea30e1c-583f-4eeb-b4d5-6ca79906b7b2
https://www.checklistbank.org/catalogue/3/name/f7c23d08-02de-4f3a-9116-6134007290ae

[2022-11-18 20:47] yroskov commented on #463
Woops, no. Do it now

[2022-11-21 20:03] mdoering commented on #463
@yroskov I can try to update all those broken decisions that were created via the project dupe tool using database sql calls:
https://www.checklistbank.org/catalogue/3/decision?broken=true&limit=100&offset=0&subjectDatasetKey=1039

[2022-11-21 20:07] yroskov commented on #463
@mdoering, could you pls have a look on Slack message. we have urgent ans severe problem in plant data due to Friday's WCVP sync https://app.slack.com/client/T7PM2N197/C7PH3N5PS

[2022-11-22 09:34] dhobern commented on #485
I think I'll need to be added to the editors for WWW or something so I can
upload the new version. How does that happen?

--

*Donald Hobern* / ***@***.*** / +61 420511471
Araba Bioscan Project <https://stangeia.hobern.net/araba-bioscan-project/>
/ Pterophoroidea <https://pterophoroidea.hobern.net/> / Alucitoidea
<https://alucitoidea.hobern.net/> / BOLD Australia
<https://bold-au.hobern.net/>
ORCI

[2022-11-25 12:29] ManonGros opened #486 "World Plants - Commiphora myrrha - incorrect authorship"
**Describe the problem**:
This is an issue originally received on the GBIF Helpdesk:

(Nees (Christoph Gottfried Daniel Nees) and T.Nees (Theodor Friedrich Ludwig Nees) were brothers and both have been working in botany)

**Link to effected CoL webpages**:
https://www.catalogueoflife.org/data/taxon/XG88

**Literature references**:
https://leopard.tu-braunschweig.de/rsc/viewer/dbbs_derivate_0001911

[2022-11-26 12:56] bart-v commented on #470
Added in WoRMS
https://www.marinespecies.org/aphia.php?p=taxdetails&id=1605082
Issue can be closed

[2022-11-28 13:47] #470 closed

[2022-11-30 10:09] CecSve opened #487 "Journal name Theringia (Zoologia) should be Iheringia (Zoologia)"
**Describe the problem**:
A GBIF user noticed an incorrect journal name for the species [Lius hector Napp, 1987](https://www.gbif.org/species/9281878). CoL gets the species information from [Jewel Beetles: The World of Jewel Beetles](https://www.catalogueoflife.org/data/dataset/1190), however, I could not find information on the species from the [original resource](http://coleopsoc.org/buprestidae

[2022-11-30 14:34] yroskov commented on #487
Indeed, looks like OCR typo. Jewel Beetles checklist is a frozen dataset for us. So, change can be done in the CoL directly (if we are able to do it technically).

@gdower, do you have a possibility to change the name of the journal in the CoL reference as pointed above? Correct journal name is **Iheringia (Zoologia)** (typo in CoL: **T**heringia (Zoologia)}

[2022-11-30 18:16] aoern opened #488 "Where have all the StaphBase beatles gone?"
In the newest November 2022 release, all the StaphBase taxa except for the superfamilies Histeroidea, Hydrophiloidea and Staphylinoidea are missing.
Is there a particular reason for this?

[2022-11-30 18:25] yroskov commented on #488
Thank you Ari, we know this. The only reason is an unexpected disaster with WCVP (https://github.com/CatalogueOfLife/testing/issues/211#issuecomment-1322457897). CLB software does not allow to roll back data. An interim CoL version of 2022-11-14 was deployed as monthly edition. All with StaphBase are already fine here (2022-11-29): https://www.checklistbank.org/dataset/9848/classification

[2022-11-30 18:25] #488 closed